{% extends 'base.html' %}

{% block content %}
<h1>Task Manager</h1>
<div class="container">
  <h3>Uncompleted tasks: {{uncompleted_len}}</h3>
  <div class="list-group list-group-numbered" style="width: 50%;">
    {% for it in content['incomplete_tasks'].keys() %}
    <a href="/update/{{it}}" class="list-group-item list-group-item-action list-group-item-primary start-50">{{content['incomplete_tasks'][it]['name']}}</a>
    {% endfor %}
  </div>
</div>
<div class="container">
  <h3>Completed tasks: {{completed_len}}</h3>
  <div class="list-group list-group-numbered" style="width: 50%;">
    {% for it in content['complete_tasks'].keys() %}
    <a href="/delete/{{it}}" class="list-group-item list-group-item-action list-group-item-primary start-50">{{content['complete_tasks'][it]['name']}}</a>
    {% endfor %}
  </div>
</div>
<div class="container">
  <form method="post">
    <div class="container">
      <h6>Name</h6>
      <input type="text" placeholder="Name..." name="name" id="name" required>
    </div>
    <div class="container">
      <input type="submit" value="Submit">
    </div>
  </form>
</div>
{% endblock %}
